
/* HERO SECTION */
/* max-width: 1100px; */

.section.hero {
    padding-top: 100px;
}

.container.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content {
    max-width: 530px;
}


.heading-2 {
    color: #292e47;
    font-size: 60px;
    line-height: 130%;
}


.heading-2.hero-heading {
    margin-bottom: 30px;
}

.text-block.hero-description {
    margin-bottom: 40px;
}

.text-block {
    /* max-width: 435px; */
    color: #6b708d;
    font-size: 20px;
    line-height: 150%;
}



/* HERO SECTION: HERO-IMAGE_MAIN */

img {
    display: inline-block;
    vertical-align: middle;
}


.hero-image {
    position: relative;
}

.hero-card-1 {
    position: absolute;
    left: -19%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-width: 375px;
}

.hero-card-2 {
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -22%;
}

/* HERO SECTION: BUTTONS */
.hero-buttons {
    display: block;
}

.hero-text-button {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.button.primary-button.hero {
    margin-right: 40px;
    margin-left: 20px;
}


.button.primary-button {
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
}

.button.primary-button:hover {
    background-color: #292e47;
}

