.section.project{
    margin-top: 70px;
}

.container.project{
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}


.project-page-title {
  font-size: 60px;
}

.project-page-image {
    width: 100%;
    height: 444px;
    -o-object-fit: cover;
    object-fit: cover;
}


  /* FLEX PROJECT TYPE */
.project-type-wrapper{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.project-page-type {
    color: #6b708d;
    font-size: 24px;
    font-weight: 500;
  }

  .project-image-wrapper {
    position: relative;
    margin-top: 80px;
  }

  /* FLEX PROJECT COMPLETION */
  .project-completion{
    display: flex;
  }
  .project-completed {
    margin-right: 5px;
    font-size: 20px;
  }

  .project-date {
    color: #6b708d;
    font-size: 20px;
  }

  .project-detail{
    font-size: 20px;
  line-height: 30px;
  margin-top: 70px;

  }


  /* OTHER PROJECTS */

  .section.other-projects{
    margin-top: 70px;
  }










/* SECTION PROJECTS CARDS */

.section.projects {
  margin-top: 200px;
}

.container.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-heading {
  /* outline: 1px solid red !important; */
  color: #292e47;
  font-size: 40px;
}

.collection-list-wrapper {
  margin-top: 70px;
}

.collection-list {
  display: grid;

  grid-auto-flow: row;
  grid-auto-columns: 1fr;

  grid-column-gap: 40px;
  grid-row-gap: 16px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;

  /* -ms-grid-rows: auto auto; */
  /* -ms-grid-columns: 1fr 1fr 1fr; */
}


.project-card {
  width: 340px;
  height: 444px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

img {
  /* max-width: 100%; */
  vertical-align: middle;
  display: inline-block;
}

.project-content {
  height: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.project-title {
  margin: 30px 30px 20px;
  color: #292e47;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
}

.project-link {
  margin: 30px;
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.project-title.project-description {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
}



@media screen and (max-width: 991px) and (min-width:768px){
/* S E C T I O N   N A V B A R   */
.navbar-2.contact {
  margin-top: 10px;
}
.container.navbar {
  padding-right: 30px;
  padding-left: 30px;
}

.hero-buttons {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

/* CONFLICTOS BOTONES */
.button.primary-button {
  display: none;
}

.button.primary-button.hero {
  display: inline;
  margin-left: 0px;
  margin-right: 40px;

}

.button.primary-button.cta-button {
  display: block;
}


/* NAVBAR - MENU*/

.w-icon-nav-menu {
  display: block;
}

.w-nav-menu {
  flex-direction: column;
  display: none;
}

.w--nav-link-open {
  display: block;
  position: relative;
}

.w-nav-link.w--current {
  color: #0082f3;
}

/* SECTION PROEJCTS */
.section.projects {
  margin-top: 80px;
}

.collection-list {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto ;
}
.collection-list-wrapper {
  margin-top: 40px;
}

/* SECTION CTA */

.section.cta-section {

  display: flex;
  max-width: 100%;
  margin-top: 60px;

  flex-direction: row;
}

/* SECTION FOOTER */
.section.footer {
  margin-top: 40px;
}


}


/* Media Query - Mobile */
@media (max-width: 479px) {
/* S E C T I O N   N A V B A R   */

.navbar-2.contact {
  margin-top: 10px;
}
.container.navbar {
  padding-right: 30px;
  padding-left: 30px;
}

.button.primary-button {
  display: none;
}

.button.primary-button.cta-button {
  display: block;
}

/* NAVBAR - MENU*/

.w-icon-nav-menu {
  display: block;
}

.w-nav-menu {
  flex-direction: column;
  display: none;
}

.w--nav-link-open {
  display: block;
  position: relative;
  flex-direction: column;

}

.w-nav-link.w--current {
  color: #0082f3;
}

/* SECTION CONTENT */

.project-type-wrapper {
  flex-direction: column;
}

.project-page-title{
  margin-bottom: 20px;
}

.project-page-type{
  margin-bottom: 10px;

}


.project-detail p{
  margin-bottom: 20px;
}
/* SECTION PROEJCTS */

.project-card {
  width: 100%;
  max-width: 100%;
}

.projects-heading {
  font-size: 30px;
}
.section.projects {
  margin-top: 40px;
}

.collection-list-wrapper {
  margin-top: 20px;
}

.collection-list {
  justify-items: stretch;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.collection-item {
  max-width: 100%;

}


/* SECTION CTA  */
.section.cta-section {
  width: 100%;
  margin-top: 30px;
}


.cta-heading {
  font-size: 30px;
}

.cta-form {
  flex-direction: column;

}

.form-block {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.text-field {
  width: 100%;
}

.button.primary-button.cta-button {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 0px;
}
}

/* Funcionalidades Responsive para pantallas tamaño ordenador */
@media  (min-width: 1024px) {


  .container {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }
  .container.container-cta {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}