
/* SPONSOR SECTION - LOGOS */

.container.logos {
    margin-top: 130px;
}

.grid-logos {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto; */
}

.client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 96px;

    /* RD */
    /* max-height: 96px;
    max-width: 150px; */

}
