@import url('./cta-section.css');
@import url('./form/form.css');
@import url('./testimonial.css');
@import url('./sponsors.css');
@import url('./hero-section.css');
@import url('./project.css');
@import url('./services.css');
@import url('./footer.css');
@import url('./nav-bar.css');


body {
    background-color: #f2f4fc;
    font-family: Roboto, sans-serif;
    color: #292e47;
    font-size: 14px;
    line-height: 20px;
}

.body-4 {
    margin-left: 0px;
}

a{padding: 10px;}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}




h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}


.container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}








/* outline: 1px solid red !important; */




/* .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
 */



/* PREPARANDO RESPONSIVE DESIGN */
/* .w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
  } */



/*     NAV BAR     */
/* LOGO,  NAVBAR SECTION and CONTACT US  */

/* Transitions of buttoms */

/* .button {
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    color: white;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 100px;
    transition: background-color .5s ease-in-out 100ms
    
    /* text-transform: uppercase; */
/* transition: background-color .5s */
/* border-width: 1px;
    border-style: solid;
    border-color: black; 
     border: 1px solid #072ac8; 
} */

/* .button:hover {
    background-color: #292e47
} */


/* .section {
    outline: 1px solid red !important;
    margin-top: 0px;
    padding: 0px 30px;
  } */
