@import url('./cta-section.css');
@import url('./form/form.css');
@import url('./testimonial.css');
@import url('./sponsors.css');
@import url('./hero-section.css');
@import url('./project.css');
@import url('./services.css');
@import url('./footer.css');
@import url('./nav-bar.css');
@import url('./hamburguer.css');


body {
    background-color: #f2f4fc;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #292e47;
    margin: 0;
    
}

.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}


a{padding: 10px;}

/* h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}


h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
} */




/* Responsive Design */


/* EJEMPLOS PANTALLAS*/
/* @media screen and (max-width: 479px)   */
/* @media screen and (max-width: 767px) 480-767  */
/* @media screen and (max-width: 991px)  */


@media screen and (max-width: 991px) and (min-width:768px){

  /* S E C T I O N   N A V B A R   */
  .navbar-2.contact {
    margin-top: 10px;
  }
  .container.navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .hero-buttons {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  /* CONFLICTOS BOTONES */
  .button.primary-button {
    display: none;
  }

  .button.primary-button.hero {
    display: inline;
    margin-left: 0px;
    margin-right: 40px;

  }

  .button.primary-button.cta-button {
    display: block;
  }

  
  /* NAVBAR - MENU*/

  .w-icon-nav-menu {
    display: block;
  }

  .w-nav-menu {
    flex-direction: column;
    display: none;
  }

  .w--nav-link-open {
    display: block;
    position: relative;
  }

  .w-nav-link.w--current {
    color: #0082f3;
  }

/* S E C T I O N   H E R O  */


.section.hero {
  padding-top: 0px;
} 


.hero-content{
  max-width: 700px;
}

.heading-2.hero-heading {
  text-align: center;
}

.container.hero-container {
  flex-direction: column;
}
.hero-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.hero-image {
  margin-top: 40px;
}

/* HERO - TEXT */
.text-block.hero-description {
   max-width: 600px;
  /* text-align: center; */
  /* margin-left: 60px;  */
}



/* SECTION SPONSORS - IMAGES */
.client-logo.amazon {
  display: none;
}

.grid-logos {
  grid-auto-flow: row;
  grid-column-gap: 20px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;

}

.client-logo {
  width: 120px;
}


/* SECTION PROEJCTS */
.section.projects {
  margin-top: 80px;
}

.collection-list {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto ;
}
.collection-list-wrapper {
  margin-top: 40px;
}


/* SECTION TESTIMONIAL */

.section.testimonial {
  height: 500px;
  margin-top: 60px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial-heading {
  max-width: 400px;
margin-bottom: 0px;
line-height: 150%;
}

.emoji.top-left {
  width: 100px;
  height: 100px;

}

.emoji.top-right {
  width: 100px;
  height: 100px;

}
.emoji.bottom-left {  
  width: 100px;
  height: 100px;
}

.emoji.bottom-right {
  width: 100px;
  height: 100px;
}

/* SECTION SERVICES*/
.section.services {
  margin-top: 40px;
}

/* SECTION CTA */

.section.cta-section {

  display: flex;
  max-width: 100%;
  margin-top: 60px;

  flex-direction: row;
}

/* SECTION FOOTER */
.section.footer {
  margin-top: 40px;
}


}



/* Media Query - Mobile */
@media (max-width: 479px) {


  /* S E C T I O N   N A V B A R   */

  .navbar-2.contact {
    margin-top: 10px;
  }
  .container.navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .button.primary-button {
    display: none;
  }

  .button.primary-button.cta-button {
    display: block;
  }
 
  /* NAVBAR - MENU*/

  .w-icon-nav-menu {
    display: block;

  }

  .w-nav-menu {
    flex-direction: column;
    display: none;
    background-color: #C8C8C8;
  }

  .w--nav-link-open {
    display: block;
    position: relative;
    /* background-color: #C8C8C8; */

  }

  .w-nav-link.w--current {
    color: #0082f3;
  }


  /* S E C T I O N   H E R O  */

  .section.hero {
    padding-top: 0px;
  }

  .container.hero-container {
    flex-direction: column;
  }

  .heading-2.hero-heading {
    font-size: 30px;
  }


  .button.primary-button.hero {
    display: block;
    margin-left: 0px;
  }

  .button.primary-button.hero {
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
  }

  .text-block.hero-description {
    font-size: 17px;
  }

  /* HEROE BUTTONS */
  .hero-text-button {
    text-align: center;
  }
  
  /* HERO IMAGE MAIN */
    img {
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
    }

  .hero-buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

  }

  /* SECTION HERO - IMAGES */

  .hero-image {
    margin-top: 40px;
  }

  .hero-card-1 {
    display: none;
  }

  .hero-card-2 {
    display: none;
  }


  /* SECTION SPONSORS - IMAGES */
  .client-logo.amazon {
    display: none;
  }

  .grid-logos {
    grid-auto-flow: row;
    grid-column-gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;

  }

  .client-logo {
    width: 120px;
  }
  
/* SECTION PROEJCTS */

.project-card {
  width: 100%;
  max-width: 100%;
  margin-bottom: 100px;
}


.projects-heading {
  font-size: 30px;
}
.section.projects {
  margin-top: 40px;
}

.collection-list-wrapper {
  margin-top: 20px;
}

.collection-list {
  justify-items: stretch;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.collection-item {
  max-width: 100%;
}
/* SECTION TESTIMONIAL */

.section.testimonial {
  height: 450px;
}
.testimonial-heading {
  font-size: 30px;
  align-content: center;
  line-height: 40px;
  max-width: 350px;

}

.testimonial-text {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 600;
  text-align: center;
}
.emoji.top-left {
  display: none;
}

.emoji.top-right {
  display: none;
}
.emoji.bottom-left {
  display: none;
}
.emoji.bottom-right {
  display: none;
}



/* SECTION SERVICES */

.section.services {
  margin-top: 40px;
}
.projects-heading {
  font-size: 30px;
  text-align: center;
}

.services-grid {
  margin-top: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.service-card {
  max-width: 100%;
  margin-bottom: 20px;
}

/* SECTION CTA  */
.section.cta-section {
  width: 100%;
  margin-top: 30px;
}


.cta-heading {
  font-size: 30px;
}

.cta-form {
  flex-direction: column;

}

.form-block {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.text-field {
  width: 100%;
}

.button.primary-button.cta-button {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 0px;
}

  /* SECTION FOOTER  */

  .section.footer {
    margin-top: 20px;
  }
  .footer-content {
    align-items: center;
  }

  .container.footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-content-address {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-links a{
    padding: 0;
  }

}


/* Funcionalidades Responsive para pantallas tamaño ordenador */
@media  (min-width: 1024px) {

  .container {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }
  .container.container-cta {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
}









/* outline: 1px solid rgb(255, 0, 251) !important; */
